<%= render 'navbar' %>

<div class="jumbotron">
  <div class="container">
    <h1 class="display-4 mb-3">Hotwire</h1>
    <h3><strong>Forms</strong></h3>
    <p class="lead">Add new post via hotwire.</p>
  </div>
</div>