<%= render 'navbar' %>

<div class="jumbotron">
  <div class="container">
    <h1 class="display-4 mb-3">Stimulus Reflex</h1>
    <h3><strong>Forms</strong></h3>
    <p class="lead">Add new post via stimulus reflex.</p>
    <hr class="my-4">
    <h3><strong>Session</strong></h3>
    <p class="lead">Add a post to cart and store it in session.</p>
    <hr class="my-4">
    <h3><strong>Redis</strong></h3>
    <p class="lead">Add a post to cart and store it in redis db.</p>
  </div>
</div>